<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	
		<head>
		  <title th:remove="all"></title>  
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<style type="text/css">
			</style>
		</head>
<body>
		<div>
		Hi,<br/> 
		<br/> Thank you for submitting your forgot password request.<br/>
		please use the below password to login to <a href=""></a>NeverStop<br/>
		<br/>
		NeverStop Acknowledgement <br/>
		================================= 
		<br/>		
		<span>Password: <span th:text="${AccountNo}"></span>&nbsp;</span>
		<br/> 
		<!--  <span>Confirmation: <span th:text="${Confirmation}"></span>&nbsp;</span>
		<br/> 
		<span>Order No. : <span th:text="${OrderNo}"></span>&nbsp;</span>
		<br/> 
		<span>Date: <span th:text="${Date}"></span>&nbsp;</span>-->
		<br/>		
		<br/>
		<br/>
		<br/>
		<br/>
		Thank you.<br/>
		<span>
			Best Regards, <br /> 
		</span>
		<span>
		 
	    </span>
		<br />
	</div>
</body>
</html>




